PORT=3000
VERIFY_TOKEN=your_verify_token
WHATSAPP_TOKEN=your_whatsapp_token
PHONE_NUMBER_ID=your_phone_id 
OPENAI_API_KEY=your_openai_key #puede ser esta
DATABASE_URL=your_database_url
GROQ_API_KEY=your_groq_key # o esta para usar la IA sin pagar y probar solamente esta sirve ya luego cambiar a la de openai